.DS_Store

DeckEvaluator/bin/
DeckEvaluator/obj/

DeckSearch/.DS_Store
DeckSearch/bin/
DeckSearch/obj/
DeckSearch/src/.DS_Store

SabberStoneUtil/bin/
SabberStoneUtil/obj/

StrategySearch/bin/
StrategySearch/obj/

SurrogateModel/bin/
SurrogateModel/obj/

TestBed/DeckSearch/bin/
TestBed/DeckSearch/train_log/