.DS_Store
.vscode/

DeckEvaluator/bin/
DeckEvaluator/obj/

DeckSearch/.DS_Store
DeckSearch/bin/
DeckSearch/obj/
DeckSearch/src/.DS_Store

SabberStoneUtil/bin/
SabberStoneUtil/obj/

StrategySearch/bin/
StrategySearch/obj/

SurrogateModel/bin/
SurrogateModel/obj/

TestBed/DeckSearch/bin/
TestBed/DeckSearch/logs/
TestBed/DeckSearch/train_log/
TestBed/DeckSearch/boxes/
TestBed/DeckSearch/resources/
TestBed/DeckSearch/card2vec/*.ipynb
TestBed/DeckSearch/card2vec/.ipynb_checkpoints/