.DS_Store
.vscode/

DeckEvaluator/bin/
DeckEvaluator/obj/

DeckSearch/.DS_Store
DeckSearch/bin/
DeckSearch/obj/
DeckSearch/src/.DS_Store

SabberStoneUtil/bin/
SabberStoneUtil/obj/

StrategySearch/bin/
StrategySearch/obj/

SurrogateModel/bin/
SurrogateModel/obj/

Playground/bin/
Playground/obj/

Analysis/bin/
Analysis/obj/

TestBed/DeckSearch/bin/
TestBed/DeckSearch/active/
TestBed/DeckSearch/logs/
TestBed/DeckSearch/train_log/
TestBed/DeckSearch/boxes/
TestBed/DeckSearch/resources/
TestBed/DeckSearch/card2vec/*.ipynb
TestBed/DeckSearch/card2vec/.ipynb_checkpoints/
TestBed/DeckSearch/singularity/ubuntu_dotnet
TestBed/DeckSearch/slurm/logs/
TestBed/DeckSearch/slurm/logs/
TestBed/DeckSearch/*.png
TestBed/DeckSearch/*.pdf
TestBed/DeckSearch/*.csv
TestBed/DeckSearch/__pycache__
TestBed/DeckSearch/analysis/__pycache__
TestBed/DeckSearch/analysis/*.png
TestBed/DeckSearch/analysis/*.csv

TestBed/StrategySearch/bin/
TestBed/StrategySearch/active/
TestBed/StrategySearch/logs/
TestBed/StrategySearch/boxes/